body {
  margin: 2rem;
  text-align: center;
}

header {
  padding: 0.5rem;
  margin-bottom: 2rem;
  color: white;
  background-color: rgb(128, 60, 128);
  border-bottom: 3px solid rgb(128, 60, 128);
  border-radius: 0.5rem;
}

h1{
  margin: 0;
}

button {
  padding: 0.5rem;
  color: blue;
  border: 3px solid purple;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  #users {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}

.user {
  padding: 0.5rem;
  border: 2px solid purple;
  border-radius: 0.5rem;
}
