body {
  text-align: center;
}

header {
  color: purple;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: purple;
  border: 3px solid purple;
  border-radius: 0.5rem;
  cursor: pointer;
}
